@tailwind base;
@tailwind components;
@tailwind utilities;

/*注册登录界面*/
@layer components {
    /* 文字提示框右过渡 */
    .Prompt_box_switch_txr {
        @apply
        tw-left-3/5
        tw-rounded-r-2xl
        max-sm:tw-invisible
        max-sm:tw-opacity-0
        max-sm:tw-absolute
    }

    /* 文字提示框左过渡 */
    .Prompt_box_switch_txl {
        @apply
        tw-left-0
        tw-rounded-l-2xl
        max-sm:tw-invisible
        max-sm:tw-opacity-0
        max-sm:tw-absolute
    }

    /* 注册登录框右过渡 */
    .Register-switch_txr {
        @apply
        max-sm:tw-right-0
        sm:tw-right-0
    }

    /* 注册登录框左过渡 */
    .Register-switch_txl {
        @apply
        max-sm:tw-right-0
        sm:tw-right-2/5
    }

    /*主标题*/
    .Title {
        @apply
        tw-text-slate-800
        tw-text-3xl
        tw-font-bold
        tw-caret-black
        tw-mb-8
    }

    /*切换按钮*/
    .SwitchButton {
        @apply
        tw-mt-4
        tw-w-40
        tw-h-12
        tw-text-xl
        tw-text-login-btn
        tw-tracking-wider
        tw-font-bold
    }

    .SwitchButton_l {
        @apply
        tw-border-none
        tw-bg-login-bg
        tw-absolute
        tw-left-2
        tw-bottom-10
        sm:tw-invisible
        sm:tw-opacity-0
        sm:tw-absolute
    }

    .SwitchButton_r {
        @apply
        tw-border-none
        tw-bg-login-bg
        tw-absolute
        tw-right-2
        tw-bottom-10
        sm:tw-invisible
        sm:tw-opacity-0
        sm:tw-absolute
    }

    /*切换隐藏*/
    .SwitchHidden {
        @apply
        tw-invisible
        tw-opacity-0
        tw-absolute
    }
}